# Lecture 2â€”List and Collection

Version 1.0. Prepared by [Makzan](https://makzan.net), 2020 June.

In last lecture, we learn to store values into variables. There were `int`, `float`, `string`, `boolean`. They are all singular value. In this notebook, we learn to store a collection of values by using `list`, `tuple`, `dictionary`, and `Named Tuple`.

We can create list by using `[ ]` brackets. Then we separate each item by comma. For example: the following create a list with 4 items.

In [1]:
[1,2,3,4]

[1, 2, 3, 4]

We need a variable to store the list. Otherwise, we cannot reference the list anymore.

In [2]:
L = [1,2,3,4]

There are basic built-in list functions: `len`, `max`, `min`, `sum`.

In [3]:
len(L)

4

In [4]:
max(L)

4

In [5]:
min(L)

1

In [6]:
sum(L)

10

In [7]:
sum(L)/len(L)

2.5

The following example create a list that stores 5 names.

In [8]:
names = ['Thomas', 'Steven', 'Jane', 'Tom', 'Susan']

By using `len()`, we know that there are 5 items in the list.

In [9]:
len(names)

5

We can get individual item from the list by using `[index]`. The index begins with 0.

|0|1|2|3|4|
|-|-|-|-|-|
|Thomas|Steven|Jane|Tom|Susan|

In [10]:
names[0]

'Thomas'

In [11]:
names[1]

'Steven'

In [12]:
names[-1]

'Susan'

In [13]:
names[-2]

'Tom'

In [14]:
names.append("John")

In [15]:
names

['Thomas', 'Steven', 'Jane', 'Tom', 'Susan', 'John']

In [16]:
names.insert(0, "Peter")

In [17]:
names

['Peter', 'Thomas', 'Steven', 'Jane', 'Tom', 'Susan', 'John']

In [18]:
names.remove('Thomas')

In [19]:
names

['Peter', 'Steven', 'Jane', 'Tom', 'Susan', 'John']

## Exercise: List creation, insert and remove

Assuming now we want to store a list of cities. They are:

'Macao', 'Beijing', 'Helsinki', 'Kyoto', 'Sydney'

In [20]:
# Your code here

| Expected result |
| --- |
| ['Macao', 'Beijing', 'Helsinki', 'Kyoto', 'Sydney'] |

Now we want to append city "Hong Kong" to last of the list. Please use `append()` to append the item.

In [ ]:
# Your code here
None

| Expected result|
| --- |
| ['Macao', 'Beijing', 'Helsinki', 'Kyoto', 'Sydney', 'Hong Kong'] |