# for-loop basic

In [2]:
fruits = ['Apple', 'Banana', 'Orange']

for fruit in fruits:
    print(fruit)

Apple
Banana
Orange

## Exercise

In [3]:
books = [
    {'title': 'Python Tricks', 'category': 'Programming', 'price': 240},
    {'title': 'Python Crash Course', 'category': 'Programming', 'price': 200},
    {'title': 'Getting Real', 'category': 'Startup', 'price': 200}
]

**Expected result**

```
Python Tricks: $240
Python Crash Course: $200
Getting Real: $200
```

### Solution

In [4]:
for book in books:
    title = book['title']
    price = book['price']
    print(f'{title}: ${price}')

Python Tricks: $240
Python Crash Course: $200
Getting Real: $200

## Calculate sum of prices

### variable += approach

In [12]:
result = 0

for book in books:
    result += book["price"]
    
result

640

### List comprehension approach

In [11]:
prices = [b['price'] for b in books]
sum(prices)

640

## Furthermoreâ€”Using Pandas

In [5]:
import pandas as pd
pd.DataFrame(books)

                 title     category  price
0        Python Tricks  Programming    240
1  Python Crash Course  Programming    200
2         Getting Real      Startup    200

In [8]:
data_frame = pd.DataFrame(books)
data_frame["price"].sum()

640