# Pandas Merge Example 合併分數例子

在這個例子，假設我們有幾個 Excel 表，假設當中有不同學科的成績。當中是同一班同學的資料，但每個 Excel 分別儲存了不同科目成績。現在我們想將同一班同學的各科目成績整合，我們將會使用 Python 的 Pandas 套件配合當中的 Merge 功能來達成。

In [1]:
# Load the libraries
import numpy as np
import pandas as pd

In [2]:
# A list of .xlsx files to merge
files = [
    "中文", 
    "英文", 
    "數學",
    "物理",
    "化學",
]

In [3]:
df = pd.read_excel(files[0] + ".xlsx")
df = df.rename(columns={
    "總成績": files[0]
})
df

        學生編號  第一段平時  第一段考試  第二段平時  第二段考試  第三段平時  第三段考試         中文
0   100001.0   74.0   60.0   92.0   95.0   55.0   68.0  74.000000
1   100002.0   75.0   69.0   87.0   73.0   85.0   63.0  75.333333
2   100003.0   68.0   66.0   94.0   94.0  100.0   74.0  82.666667
3   100004.0   86.0   60.0   80.0   66.0   95.0   53.0  73.333333
4   100005.0   54.0   60.0   54.0   92.0   92.0   79.0  71.833333
5   100006.0   77.0   84.0   83.0   52.0   54.0   64.0  69.000000
6   100007.0   83.0   81.0   77.0   87.0   65.0   69.0  77.000000
7   100008.0   67.0   98.0   84.0   85.0   78.0   86.0  83.000000
8   100009.0   81.0   78.0   69.0   63.0   98.0   63.0  75.333333
9   100010.0   57.0   50.0   99.0   77.0   50.0   72.0  67.500000
10  100011.0   97.0   64.0   61.0   79.0  100.0  100.0  83.500000
11  100012.0   95.0   83.0   68.0   97.0   60.0   59.0  77.000000
12  100013.0   78.0   52.0   98.0   78.0   80.0   74.0  76.666667
13  100014.0   88.0   58.0   59.0   51.0   87.0   63.0  67.666667
14  100015.0   73.0   50.0   84.0   55.0   52.0   93.0  67.833333
15  100016.0   84.0   67.0   98.0   94.0   68.0   57.0  78.000000
16  100017.0   54.0   91.0   76.0   85.0   99.0   59.0  77.333333
17  100018.0   57.0   56.0   65.0   68.0   93.0   75.0  69.000000
18  100019.0   62.0   85.0   80.0   81.0   64.0  100.0  78.666667
19  100020.0   90.0   78.0   64.0   87.0   73.0   80.0  78.666667
20  100021.0   61.0   73.0   84.0   98.0   60.0   58.0  72.333333
21  100022.0   91.0   82.0   90.0   66.0   52.0   86.0  77.833333
22  100023.0   83.0   91.0   76.0   62.0   87.0   81.0  80.000000
23  100024.0   64.0   95.0   99.0   83.0   62.0   81.0  80.666667
24  100025.0   92.0   69.0   80.0   88.0   89.0   78.0  82.666667
25  100026.0   94.0   97.0   77.0   71.0   75.0   97.0  85.166667
26  100027.0   82.0   70.0   85.0   79.0   99.0   76.0  81.833333
27  100028.0   96.0   89.0   78.0   81.0   74.0   86.0  84.000000
28  100029.0   90.0   70.0   87.0   91.0   54.0   74.0  77.666667
29  100030.0   91.0   77.0   64.0   64.0   80.0  100.0  79.333333
30  100031.0   55.0   57.0   80.0   78.0   96.0   95.0  76.833333
31  100032.0   96.0   88.0   88.0   75.0   73.0   72.0  82.000000

In [4]:
# 載入一個檔案檢查一下

df = pd.read_excel(files[0] + ".xlsx")

# 將總成績改名為科目名稱，不然所有科目都會叫「總成績」
df = df.rename(columns={
    "總成績": files[0]
})

# 我們只取學生編號及原總成績兩欄。
df = df[["學生編號", files[0]]]
df

        學生編號         中文
0   100001.0  74.000000
1   100002.0  75.333333
2   100003.0  82.666667
3   100004.0  73.333333
4   100005.0  71.833333
5   100006.0  69.000000
6   100007.0  77.000000
7   100008.0  83.000000
8   100009.0  75.333333
9   100010.0  67.500000
10  100011.0  83.500000
11  100012.0  77.000000
12  100013.0  76.666667
13  100014.0  67.666667
14  100015.0  67.833333
15  100016.0  78.000000
16  100017.0  77.333333
17  100018.0  69.000000
18  100019.0  78.666667
19  100020.0  78.666667
20  100021.0  72.333333
21  100022.0  77.833333
22  100023.0  80.000000
23  100024.0  80.666667
24  100025.0  82.666667
25  100026.0  85.166667
26  100027.0  81.833333
27  100028.0  84.000000
28  100029.0  77.666667
29  100030.0  79.333333
30  100031.0  76.833333
31  100032.0  82.000000

In [5]:
# 載入第二個檔案

df2 = pd.read_excel(files[1] + ".xlsx")
df2 = df2.rename(columns={
    "總成績": files[1]
})
df2 = df2[["學生編號", files[1]]]
df2

        學生編號         英文
0   100001.0  68.333333
1   100002.0  80.166667
2   100003.0  69.000000
3   100004.0  79.500000
4   100005.0  81.333333
5   100006.0  57.833333
6   100007.0  75.666667
7   100008.0  72.666667
8   100009.0  71.500000
9   100010.0  66.166667
10  100011.0  82.000000
11  100012.0  78.000000
12  100013.0  79.333333
13  100014.0  69.166667
14  100015.0  74.000000
15  100016.0  80.666667
16  100017.0  77.333333
17  100018.0  80.666667
18  100019.0  71.500000
19  100020.0  74.666667
20  100021.0  69.333333
21  100022.0  70.000000
22  100023.0  80.000000
23  100024.0  82.500000
24  100025.0  65.333333
25  100026.0  69.666667
26  100027.0  65.833333
27  100028.0  72.333333
28  100029.0  78.166667
29  100030.0  70.000000
30  100031.0  75.833333
31  100032.0  71.000000

In [6]:
help(df.merge)

Help on method merge in module pandas.core.frame:

merge(right: 'FrameOrSeriesUnion', how: 'str' = 'inner', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool' = True, indicator: 'bool' = False, validate: 'str | None' = None) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Merge DataFrame or named Series objects with a database-style join.

    A named Series object is treated as a DataFrame with a single named column.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    Parameters
    ----------
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.

          .. versionadded:: 1.2.0

    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

In [7]:
# 使用 DataFrame Merge 將 df 和 df2 兩組數據整合
df_result = df.merge(df2, on="學生編號")
df_result

        學生編號         中文         英文
0   100001.0  74.000000  68.333333
1   100002.0  75.333333  80.166667
2   100003.0  82.666667  69.000000
3   100004.0  73.333333  79.500000
4   100005.0  71.833333  81.333333
5   100006.0  69.000000  57.833333
6   100007.0  77.000000  75.666667
7   100008.0  83.000000  72.666667
8   100009.0  75.333333  71.500000
9   100010.0  67.500000  66.166667
10  100011.0  83.500000  82.000000
11  100012.0  77.000000  78.000000
12  100013.0  76.666667  79.333333
13  100014.0  67.666667  69.166667
14  100015.0  67.833333  74.000000
15  100016.0  78.000000  80.666667
16  100017.0  77.333333  77.333333
17  100018.0  69.000000  80.666667
18  100019.0  78.666667  71.500000
19  100020.0  78.666667  74.666667
20  100021.0  72.333333  69.333333
21  100022.0  77.833333  70.000000
22  100023.0  80.000000  80.000000
23  100024.0  80.666667  82.500000
24  100025.0  82.666667  65.333333
25  100026.0  85.166667  69.666667
26  100027.0  81.833333  65.833333
27  100028.0  84.000000  72.333333
28  100029.0  77.666667  78.166667
29  100030.0  79.333333  70.000000
30  100031.0  76.833333  75.833333
31  100032.0  82.000000  71.000000

In [8]:
df = df.round()
df = df.astype(int)

#df = df.set_index("學生編號")
df.to_excel("final result.xlsx")

In [9]:

for topic in files[1:]:
    df2 = pd.read_excel(topic + ".xlsx")
    df2 = df2.rename(columns={
        "總成績": topic
    })

    df2 = df2[["學生編號", topic]]
    df = df.merge(df2, on="學生編號")
    
df = df.round()
df = df.astype(int)
df = df.set_index("學生編號")
df

        中文  英文  數學  物理  化學
學生編號
100001  74  68  77  78  75
100002  75  80  72  79  74
100003  83  69  82  81  69
100004  73  80  73  66  79
100005  72  81  67  83  67
100006  69  58  81  68  82
100007  77  76  80  75  63
100008  83  73  71  70  86
100009  75  72  67  84  80
100010  68  66  65  70  62
100011  84  82  76  68  72
100012  77  78  80  73  73
100013  77  79  82  68  87
100014  68  69  73  66  78
100015  68  74  75  88  87
100016  78  81  68  73  69
100017  77  77  82  73  74
100018  69  81  80  82  76
100019  79  72  79  67  68
100020  79  75  76  72  75
100021  72  69  77  77  74
100022  78  70  80  70  69
100023  80  80  72  76  90
100024  81  82  78  81  75
100025  83  65  75  81  65
100026  85  70  77  77  65
100027  82  66  68  76  70
100028  84  72  70  68  92
100029  78  78  77  74  68
100030  79  70  74  79  78
100031  77  76  79  77  77
100032  82  71  71  74  69

## 完整代碼

Full Code

In [10]:
import numpy as np
import pandas as pd

files = [
    "中文", 
    "英文", 
    "數學",
    "物理",
    "化學",
]

# The first file
topic = files[0]
df = pd.read_excel(topic + ".xlsx")

df = df.rename(columns={ "總成績": topic })

df = df[["學生編號", topic]]

# All other files

for topic in files[1:]:
    df2 = pd.read_excel(topic + ".xlsx")
    df2 = df2.rename(columns={
        "總成績": topic
    })

    df2 = df2[["學生編號", topic]]
    df = df.merge(df2, on="學生編號")
    
df = df.round()
df["學生編號"] = df["學生編號"].astype(int)
df = df.set_index("學生編號")
df.to_excel("final_results.xlsx")